body {
    background-image: url("/img/teste.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
}

img {
    min-height: 500px;
    position: fixed;
    height: auto;
    width: 100%;
    display: block;
    object-fit: contain;
}