#intro {
    /* Margin to fix overlapping fixed navbar */
    margin-top: 55px;
  }
  @media (max-width: 991px) {
    #intro {
      /* Margin to fix overlapping fixed navbar */
      margin-top: 45px;
    }
  }

body{
    background-image: url("/img/teste.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
}
#fotoPerfil{
    border-radius: 50%;
}
.paginas {
  text-align-last: center;
}
.fotinha{
  height: 20rem;
  object-fit: cover;
  object-position: center;
  border-radius: 3%;
}
.modal-title{
  overflow-wrap: anywhere;
}
.descricao{
  text-align: justify;
}
.modal img{
  width:50%;
}