<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Página do Relato</title>
  <script src="https://kit.fontawesome.com/d488c740e1.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
  </script>
  <script src="/js/inicio.js" defer></script>
  <link rel="stylesheet" href="/css/inicio.css">
</head>

<body class="h-100">
  <!-- https://getbootstrap.com/docs/5.2/components/offcanvas/ pra ajudar quando tiver responsivo-->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light fixed-top">
      <div class="container-fluid opacity-100">
        <a class="navbar-brand me-3">Fui Golpeado</a>
        <a class="d-flex me-3 text-decoration-none">
          <span class="navbar-text text-light" id="nomePerfil"></span>
          <img id="fotoPerfil" src="" alt="" width="40" height="40" referrerpolicy="no-referrer" class="ms-2 p-1">
        </a>
      </div>
    </nav>
    <div id="intro" class="p-5 text-center bg-dark text-light bg-opacity-75">
        <h1 class="mb-3 h2">Seja bem vindo ao site!</h1>
        <p class="mb-3">Comece agora mesmo a registrar seus relatos</p>
        <a class="btn btn-primary m-2" href="./relato" role="button">Registrar Relato</a>
      </div>
  </header>
  <main class="bg-dark bg-opacity-75">
    <div class="container">
      <!--Section: Content-->
      <section class="text-center">
        <h4 class="mb-5 text-light"><strong>Últimos Relatos</strong></h4>

        <div class="row" id="teste">
          <div class="col-lg-6 col-md-6 mb-4">
            <div class="card bg-dark text-light h-100">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="./img/113069851694469057711/8/Atividade Yago.png" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Post title</h5>
                <p class="card-text">
                    Sofri um golpe no site... quando me deparei com ... e estava...Sofri um golpe no site... quando me deparei com ... e estava...Sofri um golpe no site... quando me deparei com ... e estava...Sofri um golpe no site... quando me deparei com ... e estava...
                </p>
                <a href="#!" class="btn btn-primary">Read</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 mb-4">
            <div class="card bg-dark text-light">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid opacity-0" draggable="false" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Post title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a href="#!" class="btn btn-primary">Read</a>
              </div>
            </div>
          </div>
      </section>
      <div class="paginas">
        <button class="btn btn-outline-info" id="plus">Próx. Página</button>
        <button class="btn btn-outline-warning" id="all">Carregar Todos</button>
      </div>
      
      <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Modal title</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="Dualball.gif" alt="" srcset="" id="img" class="d-inline-block float-start me-3 mb-1 mt-1" width="215px">
        <p class="h6 filme"></p>
        <p class="h6 filmecurto"></p>
        <p class="h6 tvshow"></p>
        <p class="h6 game"></p>
        <p class="h6 park"></p>
        <p class="h6 allies"></p>
        <p class="h6 enemies"></p>
      </div>
    </div>
  </div>
</div>
</body>

</html>