<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Página de Login</title>
	<link rel="stylesheet" href="/css/login.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
	</script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body class="h-100">
	<div class="container h-100 d-flex">
		<div class="row justify-content-md-center bg-dark p-5 bg-opacity-75 rounded-4 m-auto">
			<!-- tirar o padding quando ficar mobile -->
			<div class="col">
				<div class="text-center text-primary p-4 d-flex flex-column align-items-center text-light">
					<h1 class="h1 mb-3"><b>FUI GOLPEADO</b></h1>
					<p class="mt-5 ms-5 me-5 w-75">Seja bem vindo ao site Fui Golpeado! Aqui você pode ver os relatos
						de golpes
						sofridos por outras pessoas e registrar os seus próprios relatos anonimamente,
						para isso, basta se cadastrar no site com sua conta do Google, seus dados pessoais como nome e
						e-mail não serão salvos, somente o ID da conta Google</p>
				</div>
			</div>
			<div class="col-md-auto">
				<div
					class="text-center text-primary p-4 d-flex flex-column align-items-center text-light rounded-3 m-auto">
					<h2 class="h2 mb-3"><span class="fa fa-lock"></span> Autenticação Social</h2>
					<p class="h5 mt-5">Faça Login ou Registre-se com:</p>
					<a href="/google" class="btn btn-danger p-3 mt-2 border-dark border shadow-lg"><span
							class="fa fa-google"></span> Google</a>
				</div>
			</div>
		</div>
</body>

</html>